<h1>Crash Event 테스트</h1>
<p>
	<div id="myOutput">
	</div>
<p>
<p><input id="myButton" value="조회" type="button" onClick="getEvents()"/></p>
<form id="form1" name="form1">
<div>
<ul>
<li>eventID : <input type="text" id="eventID"></li>
<li>mobileOS : <input type="text" id="mobileOS"></li>
<li>created_On : <input type="text" id="phone"></li>
</ul>
</div>
</form>
<p>
	<input id="myButton" value="등록" type="button" onClick="addEvent()"/>
	<input id="myButton" value="수정" type="button" onClick="updateEvent()"/>
</p>
